<div id="<%= dom_id review %>" class="text-xs py-2 border-b border-gray-100">
  <h3 class="font-bold">Posted at <%= review.created_at.strftime('%I:%M:%S') %></h3>
  <div class=" text-gray-500">
    <span class="text-yellow-600 font-bold">
      <%= review.rating %>&star;
    </span> -
    <%= review.body %>
  </div>
</div>
